build/
aes_hls_basic_prj/sol1/.autopilot/
aes_hls_basic_prj/sol1/sim/
aes_hls_basic_prj/sol1/impl/
aes_hls_basic_prj/sol1/syn/
aes_hls_basic_prj/sol2/.autopilot/
aes_hls_basic_prj/sol2/sim/
aes_hls_basic_prj/sol2/impl/
aes_hls_basic_prj/sol2/syn/
aes_hls_dma_prj/sol1/.autopilot/
aes_hls_dma_prj/sol1/sim/
aes_hls_dma_prj/sol1/impl/
aes_hls_dma_prj/sol1/syn/
aes_hls_dma_prj/sol2/.autopilot/
aes_hls_dma_prj/sol2/sim/
aes_hls_dma_prj/sol2/impl/
aes_hls_dma_prj/sol2/syn/
*out.dat
*.log
./*.dat
*.vcd
